<div class="bg-info">
  <nav class="navbar navbar-expand-lg navbar-light loginservice.isAuthenticate()">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse bg-info" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="#" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a *ngIf="loginservice.isAuthenticate()" class="nav-link text-white" href="#" routerLink="project">Project</a>
        </li>
        <li class="nav-item">
          <a *ngIf="loginservice.isAuthenticate()" class="nav-link text-white" href="#" routerLink="team">Team</a>
        </li>
        <li class="nav-item">
          <a *ngIf="loginservice.isAuthenticate()" class="nav-link text-white" href="#" routerLink="task">Tasks</a>
        </li>
        <li class="nav-item">
          <a *ngIf="loginservice.isAuthenticate()" class="nav-link text-white" href="#" routerLink="taskAssign">TaskInformation</a>
        </li>
      </ul>
        <form class="form-inline my-2 my-lg-0">
          &nbsp;
          <form class="form-inline my-2 my-lg-0">
            <a *ngIf="!loginservice.isAuthenticate()" class="nav-link text-white btn btn-success" href="#" routerLink="register">Register</a>
            &nbsp;
            <a *ngIf="!loginservice.isAuthenticate()"  class="btn btn-primary my-2 my-sm-0"routerLink="login" type="submit">Login</a>
            <a *ngIf="loginservice.isAuthenticate()" (click)="logoutclick()" class="btn btn-danger my-2 my-sm-0" type="submit">logout</a>
              </form>
          </form>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>